/* ----------------------------- Página de CSS ----------------------------- */

/* --------------------- Import e setup da fonte da página -------------------- */

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}


/* ------------------- Início dos estilos do topo da página ------------------ */
.topo-pagina{
    height: 54px;
    width:100%;
    background-color: #FFFFFF;
    position:fixed;
    left:0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-bottom: solid 1px #DBDBDB;
    z-index: 2;
    padding: 7px calc((100% - (614px + 293px))/2 )
}

.topo-pagina div{
    display: flex;
    align-items: center;
}

 .icon-mobile{
     display: none;
 }

 .barra-vertical{
     width: 1px;
     height: 22px;
     margin: 0px 10px;
     background-color: #dbdbdb;

 }
 .caixa-pesquisa{
    height: 28px;
    width: 215px;
    background-color:#Fafafa;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    text-align: center;
}

.caixa-pesquisa p{
    font-size: 12px;
    color: #979797;
}
.botoes-direita a{
    margin-left: 20px;
}

.botoes-direita a:first-of-type{
    margin-left: 0px;
}




/* ------------------- Fim dos estilos do topo da página ------------------ */

/* ------------------- Início dos estilos do container da página ------------------ */

.container{
    width: 100%;
    height: 100%;
    background-color:#FAFAFA; /* O figma diz #e5e5e5 , Mas eu achei MUITO escuro em comparação com o próprio figma e com a página do instagram. 
                                Com o Collorzilla, peguei esse #fafafa */
    display: flex;
    justify-content: flex-end;
}


/* ------------------- Início dos estilos do corpo da página (Stories + Postagens) ------------------ */

.corpo-pagina{
    width: 614px;
    margin-right:calc((100% - 614px + 293px)/2);
    height: 100%;
    flex-direction: column;
}


/* ------------------- Início dos estilos dos stories ------------------ */

.stories{
    margin-top: 88px;
    height:116px;
    width: 100%;
    padding-left: 18px;
    background-color: white;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    border: solid 1px #dbdbdb;
    position: relative;
}


.stories a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    flex-direction: column;
    position: relative;
}

.stories p{
    font-size: 12px;
    font-weight: 400px;
    line-height: 14px;
    padding-top: 3px;
}

.stories img{
    height: 66px;
    width: 66px;
}

.stories .perfil-stories{
    height: 56px;
    width:56px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: calc((100% - 56px)/2);
}

.stories ion-icon{
    font-size: 26px;
    color: #ffffff;
    filter:drop-shadow(0px 3px 2px rgba(128,128,128,0.75));
    position: absolute;
    right: 9px;
    top: 46px;
}


/* ------------------- Fim dos estilos dos stories ------------------ */



/* ------------------- Início dos estilos das postagens ------------------ */

.postagens{
    margin-bottom: 16px;
}

.postagens>div{
    margin-top: 60px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #dbdbdb;
}

.postagens>div:first-child {
    margin-top: 24px;
}


.postagens button{
    background-color: inherit;
    border:none;
    cursor:pointer;
}

.postagens strong{
    font-weight: 500;
    display: inline-block;
}




.cabecalho{ /* Topo de cada post*/
    height: 61px;
    justify-content: space-between;
    width: 100%;
    padding: 0px 17px; 
    display: flex;
    align-items: center;
}

.cabecalho div{
    display: flex;
    align-items: center;
}

.cabecalho img{ /* Topo de cada post*/
    height: 32px;
    width: 32px;
    margin-right: 15px;
    border-radius: 50%;
}

.cabecalho ion-icon{
    font-size: 18px;
}


.midia-do-post{
    width: 100%;
    padding-bottom: 100%; /*Transforma a div em quadrada*/
    position: relative;
    box-sizing: content-box;
}

.midia-do-post img,video{
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    position: absolute;
    object-fit: cover;
}




.rodape-post{
    width: 100%;
    padding: 8px 18px;
    border-bottom: solid 1px #DBDBDB;
}

.rodape-post li{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape-post li div{
    display: flex;
    align-items: center;
}

.rodape-post ion-icon{
    font-size: 14px; 
}

.rodape-post .icones-maiores ion-icon{
    font-size: 18px;
}

.rodape-post .icones-maiores div ion-icon{
    margin-right: 18px;
}

.rodape-post img{
    height:20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.adicionar-comentario{
    display: flex;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
}

.adicionar-comentario ion-icon{
    font-size: 24px;
    color:#262626;
    margin-right:16px;
    margin-left: 8px;
}

.adicionar-comentario input{
    width: 100%;
    border: none;
}

.adicionar-comentario .emojis:hover{
    filter:brightness(2);
}

.adicionar-comentario .publicar{
    color:#B2DFFC;
    margin-right: 8px;
}

.adicionar-comentario .publicar:hover{
    color:#0095F6;
}




/* ------------------- Fim dos estilos das postagens ------------------ */


/* ------------------- Início dos estilos da lateral direita (Sidebar) ------------------ */

.sidebar{
    width: 293px;
    height: calc(100vh - 54px);
    position:fixed;
    right:calc((100% - 614px - 293px)/2);
    top:54px;
    z-index: 2;
    padding-top: 57px;
    padding-left:29px;
}

.perfil-usuario{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.perfil-usuario img{
    height:56px;
    width: 56px;
    margin-right: 17px;
    border-radius: 50%;
}

.sidebar button{
    background-color: inherit;
    border:none;
    cursor:pointer;
}

.sugestoes-para-usuario li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px; 
}



.sugestoes-para-usuario li>div {
display: flex;
align-items: center;
}


.sugestoes-para-usuario img{
    height: 32px;
    width: 32px;
    margin-right: 11px ;
    border-radius: 50%;
}



.copyrights{
    margin-top: 33px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
}

.copyrights p{
    margin-bottom: 18px;
}



/* ------------------- Fim dos estilos da lateral direita (Sidebar) ------------------ */

/* ------------------- Definições de texto -----------------------------------*/

.titulo{
    font-size: 14px;
    line-height: 16.5px;
    font-weight: 500;
}

.nome-usuario{
    font-size: 14px;
    line-height: 16.5px;
    font-weight: 300;
}

.texto-sugestoes{
    font-size:12px;
    line-height: 14px;
    font-weight: 500;
}

.texto-pequeno{
    font-size:12px;
    line-height: 14px;
    font-weight: 400;
}

.preto{
    color: #262626 !important;
}

.cinza-escuro {
    color: #8e8e8e !important;
}

.cinza-claro{
    color: #c7c7c7 !important;
}

.azul{
    color: #139ef2 !important;
}




/* ------------------- Escondendo a base-mobile nas versões desktop ------------------ */

.base-mobile{
    display: none;
}




/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */

/* -------------------------------------- Início do Media Query ------------------------------------- */

/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */


/* -------------------------------------- Para Desktop - Menor que 935px ------------------------------------- */



@media (max-width: 935px) {

    .topo-pagina{
        padding: 7px 18px;
    }

    .container{
        justify-content: center;
    }

    .corpo-pagina{
        margin-right: 0px;
    }


    .sidebar{
        display:none;
    }
}


/* -------------------------------------- Para Mobile - Menor que 614px ------------------------------------- */




@media (max-width: 614px) {
    .logo-desktop-e-topo-mobile{
        width:100%;
        justify-content: space-between;
    }

    .icon-mobile{
        display: block;
    }

    .topo-pagina .barra-vertical,
    .topo-pagina .caixa-pesquisa,
    .topo-pagina .botoes-direita{
        display:none;
    }

    .stories{
        margin-top: 54px;
        height:121px;
        background-color: inherit;
        border: none;
    }

    .stories ion-icon{
        display: none;
    }

    .postagens div:first-of-type {
        margin-top: 0px;
    }


    .corpo-pagina{
        margin-right: 0px;
        margin-bottom: 54px;
        width: 100%;
    }

    .base-mobile{
        display: flex;
        position: fixed;
        height: 54px;
        width: 100%;
        left: 0;
        bottom: 0;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 0px 18px;
    }

    .base-mobile ion-icon{
        font-size: 17px;
    }

}